@use "../utils/functions/"as*;
@use "../utils/mixins"as*;

*[class].btn {
  display: inline-block;
  margin: 0;
  padding: 10px 24px;
  border: 2px solid var(--color-gray-200);
  color: var(--color-gray-200);
  text-align: center;
  border-radius: var(--radius-main);
  background-color: transparent;
  transition-property: background-color, color, border-color;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;

  &--reverse,
  &:hover {
    color: var(--color-gray-100);
    background-color: var(--color-gray-200);
  }

  &--reverse:hover {
    background-color: transparent;
    color: var(--color-gray-200);
  }

  &--underline {
    display: block;
    max-width: fit-content;
    width: 100%;
    margin: 0 auto;
    padding: 11px 0;
    font-size: 14px;
    line-height: 1.22;
    color: var(--color-dark);
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    border: 1px solid transparent;
    border-bottom: 1px solid var(--color-dark);
    border-radius: 0;
    transition-property: border, padding;

    &:hover {
      padding: 11px;
      color: var(--color-dark);
      background-color: transparent;
      border: 1px solid var(--color-dark);
    }
  }

  //&--arrow {
  //  position: relative;
  //  padding-right: 64px;
  //
  //  &::before {
  //    @include cover-background();
  //
  //    content: '';
  //    position: absolute;
  //    top: 50%;
  //    right: 8px;
  //    transform: translateY(-50%);
  //    width: 48px;
  //    height: 48px;
  //    background-image: var(--icon-arrow);
  //  }
  //}
  //
  //&--send {
  //  max-width: fit-content;
  //  background-color: var(--color-white);
  //
  //  &:hover {
  //    background-color: var(--color-gray-600);
  //    border-color: var(--color-gray-600);
  //    color: var(--color-milk-100)
  //  }
  //}
  //
  //&--absolute {
  //  position: absolute;
  //  inset: 0;
  //  padding: 0;
  //  background-color: transparent;
  //
  //  &:hover {
  //    background-color: transparent;
  //  }
  //
  //  &::before {
  //    @include cover-background();
  //
  //    content: '';
  //    position: absolute;
  //    bottom: 24px;
  //    right: 24px;
  //    width: 48px;
  //    height: 48px;
  //    transform: scale(1);
  //    transition: transform 0.4s ease-in-out;
  //
  //    background-image: var(--icon-absolute);
  //  }
  //
  //  &:hover::before {
  //    transform: scale(1.2);
  //  }
  //}
}

*[class].swiper {
  .swiper-button {
    @include cover-background;

    position: static;
    width: 16px;
    height: 8px;
  }

  .swiper-button-prev {
    background-image: url("../images/icons/arrow-prev.svg");
  }

  .swiper-button-next {
    background-image: url("../images/icons/arrow-next.svg");
  }
//
//  .swiper-button-disabled {
//  }
//
//  .swiper-pagination {
//  }
//
//  .swiper-pagination-bullet {
//  }
}